header {
    background-color: #202020;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
    font-size: 16px;
}

.nav-link:hover {
    color: #e4640f;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.contate {
    border: 3px solid #e4640f;
    padding: 20px;
}

.contate:hover {
    background-color: #e4640f;
    color: #fff;
}

.portifolio-header {
    display: flex;
    
    justify-content: space-between;
}

.contato-container{
    background-color: blue;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.form-container{
    background-color: white;
    height: 500px;
    width: 400px;
    margin-right: 550px;
}

.form-container h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    font-weight: bold;
}

.form-input-group{
    display: flex;
    flex-direction: column;
}

.form-input-group .nome, .email, .celular{
    height: 40px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.form-input-group label{
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 25px;
}

/* section */

.principal {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-texto-principal {
    max-height: 60rem;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.texto-principal {
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.3;
    display: inline;
    max-width: 35.3125rem;
    width: 100%;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}