header {
    background-color: #202020;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
    font-size: 16px;
}

.nav-link:hover {
    color: #e4640f;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.contate {
    border: 3px solid #e4640f;
    padding: 20px;
}

.contate:hover {
    background-color: #e4640f;
    color: #fff;
}

/*=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-CSS DA PAGINA DE CONTATO=-=-=-=-=-=-=-=-=--=-=-=---=-=--=-=-=-=-=-=--*/

.contato-container{
    background-color: #202020;
    height: 650px;
    display: flex;
    justify-content: end;
}

.form-container{
    margin: auto;
    background-color: rgb(236, 236, 236);
    height: 620px;
    width: 400px;
    margin-right: 70px;
    border-radius: 5px;
}

.form-container h2{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

.form-input-group{
    display: flex;
    flex-direction: column;
}

.form-input-group .nome, .email, .celular{
    height: 40px;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
}

.form-input-group .mensagem{
    width: 350px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
}

.form-input-group label{
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-container .btn-contatar{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.form-container .btn-contatar:hover{
    transform: translateY(-1px);
    background-color: rgb(22, 22, 22);
}

.imagem-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s;
}

.imagem img{
    height: 430px;
    margin-left: 50px;
    transition: transform 0.3s;
    cursor: pointer;
}

.imagem img:hover{
    transform: translateY(-2px);
}